BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 4d4ef5126417

CREATE TABLE ai_reports (
    id VARCHAR NOT NULL, 
    symbol VARCHAR NOT NULL, 
    report_json JSON NOT NULL, 
    mode VARCHAR NOT NULL, 
    source VARCHAR NOT NULL, 
    generated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_ai_reports_created_at ON ai_reports (created_at);

CREATE INDEX ix_ai_reports_symbol ON ai_reports (symbol);

CREATE TABLE api_health_logs (
    id VARCHAR NOT NULL, 
    service_name VARCHAR NOT NULL, 
    status VARCHAR NOT NULL, 
    latency_ms INTEGER, 
    error_message TEXT, 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_api_health_logs_created_at ON api_health_logs (created_at);

CREATE TABLE company_profiles (
    symbol VARCHAR(50) NOT NULL, 
    company_name VARCHAR(255), 
    exchange VARCHAR(100), 
    currency VARCHAR(10), 
    sector VARCHAR(100), 
    industry VARCHAR(100), 
    website VARCHAR(255), 
    market_cap INTEGER, 
    source VARCHAR(100), 
    last_updated TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (symbol)
);

CREATE TABLE market_data_cache (
    id VARCHAR NOT NULL, 
    symbol VARCHAR NOT NULL, 
    endpoint_type VARCHAR NOT NULL, 
    payload_json JSON NOT NULL, 
    mode VARCHAR NOT NULL, 
    source VARCHAR NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_market_data_cache_created_at ON market_data_cache (created_at);

CREATE INDEX ix_market_data_cache_endpoint_type ON market_data_cache (endpoint_type);

CREATE INDEX ix_market_data_cache_symbol ON market_data_cache (symbol);

CREATE TABLE news_articles (
    id VARCHAR NOT NULL, 
    symbol VARCHAR NOT NULL, 
    headline VARCHAR NOT NULL, 
    source VARCHAR, 
    url VARCHAR, 
    published_at TIMESTAMP WITH TIME ZONE, 
    summary TEXT, 
    payload_json JSON, 
    mode VARCHAR NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_news_articles_created_at ON news_articles (created_at);

CREATE INDEX ix_news_articles_symbol ON news_articles (symbol);

CREATE TABLE ohlcv_cache (
    id VARCHAR(36) NOT NULL, 
    symbol VARCHAR(50) NOT NULL, 
    timeframe VARCHAR(20) NOT NULL, 
    date DATE NOT NULL, 
    open FLOAT, 
    high FLOAT, 
    low FLOAT, 
    close FLOAT, 
    volume INTEGER, 
    source VARCHAR(100), 
    last_updated TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_ohlcv_cache_symbol ON ohlcv_cache (symbol);

CREATE TABLE sentiment_scores (
    id VARCHAR NOT NULL, 
    symbol VARCHAR NOT NULL, 
    sentiment_score FLOAT NOT NULL, 
    overall_sentiment VARCHAR NOT NULL, 
    confidence VARCHAR, 
    model_used VARCHAR, 
    article_count INTEGER, 
    payload_json JSON, 
    mode VARCHAR NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_sentiment_scores_created_at ON sentiment_scores (created_at);

CREATE INDEX ix_sentiment_scores_symbol ON sentiment_scores (symbol);

CREATE TABLE source_logs (
    id VARCHAR NOT NULL, 
    symbol VARCHAR, 
    endpoint VARCHAR NOT NULL, 
    source VARCHAR NOT NULL, 
    mode VARCHAR NOT NULL, 
    success BOOLEAN NOT NULL, 
    latency_ms INTEGER, 
    error_message TEXT, 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_source_logs_created_at ON source_logs (created_at);

CREATE INDEX ix_source_logs_symbol ON source_logs (symbol);

CREATE TABLE technical_indicators (
    id VARCHAR(36) NOT NULL, 
    symbol VARCHAR(50) NOT NULL, 
    timeframe VARCHAR(20) NOT NULL, 
    sma20 FLOAT, 
    sma50 FLOAT, 
    sma200 FLOAT, 
    rsi14 FLOAT, 
    macd FLOAT, 
    macd_signal FLOAT, 
    trend VARCHAR(50), 
    last_updated TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_technical_indicators_symbol ON technical_indicators (symbol);

CREATE TABLE users (
    id VARCHAR(255) NOT NULL, 
    full_name VARCHAR(255), 
    email VARCHAR(255) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE TABLE user_portfolio (
    id VARCHAR(255) NOT NULL, 
    user_id VARCHAR(255) NOT NULL, 
    symbol VARCHAR(50) NOT NULL, 
    quantity INTEGER, 
    average_price FLOAT, 
    created_at TIMESTAMP WITH TIME ZONE, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_user_portfolio_symbol ON user_portfolio (symbol);

CREATE INDEX ix_user_portfolio_user_id ON user_portfolio (user_id);

CREATE TABLE user_preferences (
    id VARCHAR(255) NOT NULL, 
    user_id VARCHAR(255) NOT NULL, 
    theme VARCHAR(50) NOT NULL, 
    default_view VARCHAR(50) NOT NULL, 
    risk_tolerance VARCHAR(50) NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    UNIQUE (user_id)
);

CREATE TABLE user_watchlists (
    id VARCHAR NOT NULL, 
    user_id VARCHAR(255), 
    symbol VARCHAR NOT NULL, 
    company_name VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE UNIQUE INDEX ix_user_watchlist_user_symbol ON user_watchlists (user_id, symbol);

CREATE INDEX ix_user_watchlists_created_at ON user_watchlists (created_at);

CREATE INDEX ix_user_watchlists_symbol ON user_watchlists (symbol);

INSERT INTO alembic_version (version_num) VALUES ('4d4ef5126417') RETURNING alembic_version.version_num;

COMMIT;

